* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

body {
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 13% 87%;
  height: 100vh;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed from space-between to flex-start */
  background-color: rgb(23, 23, 23);
  padding: 12px;
  color: rgb(236, 236, 236);
}

.menu-items ul {
  list-style-type: none;
  padding: 0; /* Ensure there's no padding */
}

.menu-items li {
  margin: 0; /* Remove margin */
  cursor: pointer;
}

.menu-items li a {
  display: block;
  padding: 15px 14px;
  color: inherit;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.menu-items li:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

.menu-items li.active {
  border-left: 3px solid rgb(28, 28, 218);
  background-color: #003d7a81;
  border-radius: 3px;
}

.menu-footer .logo img {
  max-width: 100%;
  height: auto;
}

.aFooter {
  color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.info {
  font-size: 145%;
}

.buttonFooter {
  background-color: rgb(23, 23, 23);
}

.content {
  padding: 20px;
  background-color: rgb(33, 33, 33);
  color: rgb(236, 236, 236);
  flex: 1;
  overflow-y: auto;
}

.logoImg {
  width: 75%;
}

.imgDiv {
  width: 30%;
  padding: 1%;
}

.content section {
  margin-bottom: 40px;
}

.content h2 {
  border-bottom: 2px solid #2980b9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content p,
.content ul {
  margin: 10px 0;
}

.hight20px {
  width: 10px;
  height: 20px;
}

.content ul {
  padding-left: 20px;
}

.menu-footer a {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0069dada;
  color: rgb(236, 236, 236);
  text-decoration: none;
  border-radius: 7px;
  font-size: 115%;
}

.menu-footer a:hover {
  background-color: #053f7e;
}

.menu-footer {
  background-color: #223952;
  border-radius: 5px;
  padding: 5px;
}

.aButton {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #3d7abbda;
  color: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 550;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

.aButton:hover {
  background-color: #234c75;
}

.mySlides {
  display: none;
  margin-bottom: 0.5%;
  border: none;
}

.vidPlayerBtn {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 12px 5px;
  border-radius: 3px;
  margin: 1%;
  width: 50%;
  color: white;
  background-color: rgb(35, 76, 117);
  text-align: center;
}

iframe {
  border-radius: 8px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.discordLogo {
  font-size: 150%;
  padding: 0px 10px;
}

.discordLogo i div {
  font-size: 70%;
}

/* Media Queries for 1080p and Mobile Devices */

/* Styles for 1080p (Full HD) */
@media screen and (max-width: 1920px) {
  .container {
    grid-template-columns: 13% 87%;
  }

  .menu {
    padding: 10px;
  }

  .content {
    padding: 13px;
  }

  .menu-items li a {
    padding: 12px 10px;
  }
}

.hidden {
  display: none; /* or visibility: hidden; */
}

/* Styles for mobile devices (portrait mode) */
@media screen and (max-width: 868px) {
  .container {
    grid-template-columns: 1fr;
  }

  .menu {
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
  }

  .menu-items li a {
    padding: 10px 8px;
  }

  .content {
    padding: 10px;
  }

  .menu-footer a {
    font-size: 100%;
    padding: 8px;
  }

  .menu-footer {
    height: 100%;
  }

  .aButton {
    padding: 12px 16px;
    font-size: 16px;
  }

  .btnLimit {
    width: 100%;
  }

  .imgDiv {
    width: 11%;
  }

  .menu-items ul li {
    display: block; /* Display all items by default */
  }

  .menu-items ul li.hidden {
    display: none; /* Class to hide items */
  }
}

/* Styles for smaller mobile devices (like phones) */
@media screen and (max-width: 480px) {
  .menu {
    flex-direction: column;
    padding: 5px;
  }

  .menu-items li {
    margin: 5px 0;
  }

  .aButton {
    padding: 10px 12px;
    font-size: 14px;
  }

  .discordLogo {
    font-size: 120%;
    padding: 0px 5px;
  }
  .menu-items ul li {
    display: block; /* Display all items by default */
  }

  .menu-items ul li.hidden {
    display: none; /* Class to hide items */
  }
}

/* Default iframe size for 1440p */
.responsive-iframe {
  width: 720px;
  height: 405px;
}

.btnLimit {
  display: flex;
  width: 720px;
}

/* Iframe size for mobile devices (768px and below) */
@media screen and (max-width: 768px) {
  .responsive-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Ensures it maintains the 16:9 aspect ratio */
  }
  .btnLimit {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
