* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;

  color: rgb(236, 236, 236);
}

body {
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 17% 83%;
  height: 100vh;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(23, 23, 23);
  padding: 12px;
  color: rgb(236, 236, 236);
}

.menu-items ul {
  list-style-type: none;
}

.menu-items li {
  margin: 8px 5px 8px 5px;

  cursor: pointer;
}
.menu-items li a {
  display: block;
  padding: 15px 14px 15px 14px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.menu-items li:hover {
  background-color: #0056b3;
  border-radius: 5px;
  cursor: pointer;
}
.menu-items li.active {
  border-left: 3px solid rgb(28, 28, 218);
  background-color: #003d7a81;
  border-radius: 3px;
}

.menu-footer .logo img {
  max-width: 100%;
  height: auto;
}

.aFooter {
  color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  text-decoration: none;
}
.info {
  font-size: medium;
}
.buttonFooter {
  background-color: rgb(23, 23, 23);
}

.content {
  padding: 20px;
  background-color: rgb(33, 33, 33);
  color: rgb(236, 236, 236);
}

.logoImg {
  width: 75%;
}

.imgDiv {
  width: 30%;
  padding: 1% 1% 1% 1%;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.content section {
  margin-bottom: 40px;
}

.content h2 {
  border-bottom: 2px solid #2980b9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content p,
.content ul {
  margin: 10px 0;
}
.hight20px {
  width: 10px;
  height: 20px;
}

.content ul {
  padding-left: 20px;
}
.menu-footer a {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0069dada;
  color: rgb(236, 236, 236);
  text-decoration: none;
  border-radius: 7px;
  font-size: 115%;
}

.menu-footer a:hover {
  background-color: #053f7e;
}
.menu-footer {
  background-color: #223952;
  border-radius: 5px;
  padding: 5px;
}

.aButton {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #3d7abbda;
  color: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 550;
  line-height: 1;
  text-decoration: none; /* Remove underline */
  text-align: center; /* Center text */
}

.aButton:hover {
  background-color: #234c75; /* Optional: Change background on hover */
}

.mySlides {
  display: none;

  margin-bottom: 0.5%;
  border: none;
}
.vidPlayerBtn {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 12px 5px 10px 5px;
  border-radius: 3px;
  margin: 1%;
  width: 50%;
  color: white;
  background-color: rgb(35, 76, 117);
  text-align: center;
}
.btnLimit {
  display: flex;
  width: 720px;
}

iframe {
  border-radius: 8px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the container */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.discordLogo {
  font-size: 150%;
  padding: 0px 10px 0px 10px;
}
.discordLogo i div {
  font-size: 70%;
}
